# workflow_path_list specifies a ':'-separated list of paths 
# where the engine tries to find its workflows.
workflow_path_list = /:.:./workflows/:/tmp/rdfgears/workflows/:../temp/rdfgears/data/workflows:../temp/rdfgears/workflows


# page size for remote queries
# if batchsize>0, remote sparql endpoints will be queried repetitively 
# with batchsize as LIMIT, and a shifting OFFSET.
# Note that this works for select only because of practical virtuoso 
# implementation issues, and for construct it doesn't work reliably at 
# all.  
# Set to 0 to disable batched querying
remote_sparql_select_batchsize = 000
remote_sparql_construct_batchsize = 0

# max number of remote sparql retries
sparql_retry_max = 3
# pause between retries (in milliseconds)
sparql_retry_pause = 2000

#greedy_loading_of_remote_queries = false
greedy_loading_of_remote_queries = true

# specify the debug level with which RDF Gears is executed.
# levels are ALL / DEBUG / INFO / WARN / ERROR / FATAL / OFF / TRACE as per log4j
log_level = INFO


#########################################################################3
# Make workflow execution order more predictable. Useful for debugging. 
# 
# Completely disable laziness for all functions. 
# makes execution order more predictable. Laziness is enabled by default. 
#disable_laziness = true
# 
# Disable pipelining to generate all bag elements before passing it to the
# next function. It is enabled by default. 
# In the current implementation it effectively disables laziness, too, although
# lazyvalues will still be instantiated
#disable_pipelining = true
